
.btn {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    font-family: "Inter";
    font-weight: 400;
    font-size: 25px;
    line-height: 120%;
    text-transform: lowercase;
    color: #414141;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    gap: 10px;
    width: 210px;
    height: 57px;
    border-radius: 20px;
    background-color: rgb(23, 34, 34, 0);
    cursor: pointer;
  }