.button {
  --gradient-button: hsla(221, 97%, 52%, 1), hsla(234, 100%, 66%, 1);
  font-family: var(--secondary-font);

  cursor: pointer;
  background: linear-gradient(90deg, var(--gradient-button));
  border: none;
  border-radius: 20px;
  padding-inline: 80px;
  padding-block: 13.5px;
  color: white;
  font-size: calc(20rem / 16);
  line-height: calc(30rem / 16);
  font-weight: 900;

  display: flex;
  align-items: center;
  gap: calc(25rem / 16);

  span {
    width: calc(30rem / 16);
    aspect-ratio: 1;

    & > img {
      width: 100%;
      height: 100%;
    }
  }

  &:has(span) {
    padding-inline: 40px;
  }

  &--secondary {
    color: hsla(0, 0%, 25%, 1);
    font-size: calc(25rem / 16);
    font-weight: 400;
    background: transparent;
    border: 1px solid hsla(221, 97%, 52%, 1);
    padding-inline: 30px;
  }
}

@media (max-width: 56.25rem) {
  .button {
    padding-inline: 17px;
    padding-block: 8px;
    gap: calc(15rem / 16);
    font-size: calc(15rem / 16);

    span {
      width: calc(25rem / 16);
    }

    &:has(span) {
      padding-inline: 25px;
    }
  }
}
