.news_item {
  max-width: 440px;
  position: relative;
  border-radius: 20px;
  cursor: pointer;
}

.news_item:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65));
}

.news_item_title {
  position: absolute;
  left: 6.36%;
  right: 6.14%;
  top: 32.67%;
  bottom: 27.33%;
  font-weight: 800;
  /* font-size: 20px; */
  line-height: 150%;
  color: #f1f6ff;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  font-size: 0.6875rem;
  font-size: clamp(
    0.6875rem,
    0.5068807339449541rem + 0.8256880733944955vw,
    1.25rem
  );
}

.news_desc {
  position: absolute;
  left: 6.36%;
  right: 6.14%;
  top: 16.33%;
  bottom: 29.67%;
  font-weight: 300;
  line-height: 150%;
  color: #f1f6ff;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  line-clamp: 6;
  -webkit-box-orient: vertical;
  font-size: 0.75rem;
  font-size: clamp(
    0.75rem,
    0.6295871559633027rem + 0.5504587155963303vw,
    1.125rem
  );
}

.btn {
  display: flex;
  width: 210px;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 8.33%;
  background-color: rgba(28, 28, 28, 0);
  border-radius: 20px;
  border: 1px solid #105bfb;
  color: #dee8f5;
  text-transform: lowercase;
  font-family: var(--secondary-font);
  font-weight: 400;
  /* font-size: 20px; */
  line-height: 120%;
  cursor: pointer;
  font-size: 0.6875rem;
  font-size: clamp(
    0.6875rem,
    0.5068807339449541rem + 0.8256880733944955vw,
    1.25rem
  );
}

@media (max-width: 1448px) {
  .news_item_title {
    top: 24.67%;
  }
}

@media (max-width: 1000px) {
  .news_item_title {
    top: 20.67%;
  }

  .news_desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}

@media (max-width: 920px) {
  .btn {
    margin: 0 auto;
    width: 200px;
    padding: 1px 3px;
  }
}

@media (max-width: 786px) {
  .news_item {
    max-width: 250px;
    margin: 0 auto;
  }
}

/* @media (max-width:600px) {
  .news_item {
    max-width: 258px;
    margin: 0 auto;
  }
} */
