.any_questions {
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
  color: #414141;
  backdrop-filter: blur(2px);
  margin-bottom: 20px;
}

.form_block{
  position: relative;
}

.btn_top{
  position: absolute;
  right:12px;
  bottom: -40px;

}
.btn{
  width: 10vw;
}

.form_border {
  width: max-content;
  margin: 0 auto;
}

.form {
  display: flex;
  justify-content: space-between;
}

.name_input {
  width: 26vw;
  height: 54px;
  padding: 15px 15px 15px 10px;
  border: 0.5px solid #414141;
  border-radius: 20px;
  box-sizing: border-box;
  margin-right: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.5px;
  text-transform: lowercase;
}

.phone_num_input {
  width: 36vw;
  height: 54px;
  padding: 15px 15px 15px 10px;
  border: 0.5px solid #414141;
  border-radius: 20px;
  margin-right: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.5px;
  text-transform: lowercase;
}

.textarea {
  width: 80vw ;
  height: 125px;
  background: rgba(249, 249, 249, 0.2);
  border: 0.5px solid #414141;
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 15px 15px 15px 10px;
  text-transform: lowercase;
  font-weight: 500;
  font-size: 20px;
}
