.imgs_section {
  width: 100%;
  margin: 0 auto;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: minmax(330px, 670px) minmax(330px, 670px);
  justify-content: center;
  gap: 40px 20px;
}

.imgs_section > div > img {
  border: 1px solid white;
  width: 100%;
}

.left_b {
  font-weight: 800;
  font-size: 25px;
  color: #f1f6ff;
  position: absolute;
  background-color: red;
  bottom: 10px;
  left: 10px;
  padding: 15px 10px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  max-width: 550px;
}

.imgs_section > div {
  position: relative;
}

.imgs_section > a {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

@media (max-width:900px) {
  .imgs_section {
    gap: 20px 10px;
  }
  .left_b{
    font-size: 18px;
  }
}

@media (max-width:750px) {
  .imgs_section{
    padding-top: 30px;
  }
}

@media (max-width:690px) {
  .imgs_section {
    grid-template-columns: minmax(330px, 670px) ;
    justify-content: center;
    gap: 20px 10px;
  }
}

@media (max-width:500px) {
  .left_b{
    font-size: 14px;
  }
}
