/* .list_of_revs {
  display: flex;
  flex-direction: column;
  gap: 30px;
} 

.dis_f {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.circle_btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(65, 65, 65, 0.15);
  border: 5px solid #f1f6ff;
  cursor: pointer;
}

.swipe_revs {
  align-self: flex-end;
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.center {
  margin: 0 auto;
} */
