.title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  color: #414141;
  text-align: center;
  margin: 0 auto;
}

.v {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  font-variant: small-caps;
  color: #414141;
}
