.services {
  position: relative;
}

.bg_top {
  position: absolute;
  width: 100%;
  height: 644px;
  z-index: -1;
  background-image: url('./media//BgTopMain.avif');
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  filter: blur(2px);
}

.bg_top::after {
  content: '';
  background-image: url('./media//BgTopAdditional.avif');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 100%;
  max-width: 752px;
  height: 100%;
  top: 0;
  z-index: -2;
  filter: blur(2px);
  opacity: 40%;
}

.center_bg {
  background-image: url('./media//CenterBg.avif');
  background-repeat: no-repeat;
  background-size: contain;
  width: 80%;
  height: 60vw;
  position: absolute;
  top: 60vw;
  left: 0;
  right: 0;
  transform: rotate(140deg);
  opacity: 80%;
  filter: blur(2px);
}

.bottom_bg {
  width: 100%;
  height: 879px;
  position: absolute;
  z-index: -1;
  background-image: url('./media//BtmBg.avif');
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
  bottom: 0px;
}

.center_x {
  --form-padding-inline: 78.5px;

  padding-inline: 40px;
  display: flex;
  flex-direction: column;
  gap: 105px;
}

.disg {
  padding-top: 180px;
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 672px));
  justify-content: center;
  gap: 120px 20px;
}

.disg > h1 {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-size: clamp(
    1rem,
    -0.08371559633027537rem + 4.954128440366973vw,
    4.375rem
  );
}

.disg > p {
  font-weight: 300;
  text-align: justify;
  font-size: 0.875rem;
  font-size: clamp(
    0.875rem,
    0.7746559633027523rem + 0.45871559633027525vw,
    1.1875rem
  );
}

.imgs_section {
  width: 100%;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px 20px;
}

.imgs_section > div > img {
  border: 1px solid white;
  width: 100%;
}

.form__title {
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  color: #414141;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 105px;
  font-size: 1rem;
  font-size: clamp(1rem, 0.518348623853211rem + 2.2018348623853212vw, 2.5rem);
}

@media (max-width: 1000px) {
  .bottom_bg {
    width: 100%;
    height: 1130px;
    position: absolute;
    z-index: -1;
    background-image: url('./media//BtmBg.avif');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
    top: 120vw;
    bottom: 0;
  }
  .disg {
    padding-top: 120px;
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 672px));
    justify-content: center;
    gap: 40px 20px;
  }
}

@media (max-width: 770px) {
  .disg {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .disg > h1 {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-content: center;
  }
  .disg > p {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0 auto;
    text-align: center;
    font-size: 0.875rem;
    font-size: clamp(
      0.875rem,
      0.7746559633027523rem + 0.45871559633027525vw,
      1.1875rem
    );
  }

  .disg {
    padding-top: 97px;
  }

  .bg_top {
    display: none;
  }
  .center_bg {
    display: none;
  }
  .bottom_bg {
    display: none;
  }
  .center_x {
    padding-inline: 20px;
    gap: 40px;
  }
}

@media (max-width: 550px) {
  .center_x {
    padding-inline: 16px;
  }
}

@media (min-width:1490px) {
  .bottom_bg {
    top: 1490px;
  }
  .center_bg {
    height: 1440px;
    width: 1200px;
    top: 900px;
  }
}
