.btn_top {
    position: absolute;
    right: 15px;
    top: 250px;
    cursor: pointer;
  }

  .pos_ab{
    position: absolute;
  }

  @media  (max-width:600px) {
    .btn_top {
      display: none;
    }
  }