.review_card {
  width: 325px;
  height: 203px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  position: relative;
  background-color: white;
  transition: all 0.3s ease;
}

.review_card>img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.user_icon_rectangle {
  position: absolute;
  left: -15px;
  top: -15px;
  border-radius: 50%;
}

.pos_r {
  position: relative;
}

.user_icon {
  position: absolute;
  left: 19px;
  top: -11px;
  width: 90px;
  max-height: 90px;
}

.info_customer {
  position: absolute;
  top: 15px;
  right: 20px;
  max-width: 200px;
}

.name_customer {
  height: 25px;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  color: #414141;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.bought_good {
  height: 22px;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  color: #414141;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.review_text {
  width: 297px;
  height: 96px;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  color: #414141;
  position: absolute;
  bottom: 22px;
  left: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.test_fix {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 794px) {
  .review_card {
    height: 151px;
    width: 242px;
  }

  .name_customer {
    height: 25px;
    font-size: 13.377px;
  }

  .bought_good {
    font-size: 12px;
  }
  .review_text {
    bottom: 16px;
    font-size: 12px;
    height: auto;
    width: 220.72px;
    height: 68px;
  }

  .review_card>img{
    width: 59.45px;
    height: 59.45px;
  }

  .test_fix {
    height: 205px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
