.homepage {
  --form-padding-inline: 115.5px;

  footer {
    margin-block-start: -220px;
  }
}

.hero {
  position: relative;
  isolation: isolate;
  padding-inline: 90px;
  padding-block-start: 220px;
  padding-block-end: 240px;
  color: hsla(0, 0%, 99%, 1);
  min-height: 90vh;
  background-image: linear-gradient(
      105.93deg,
      rgba(0, 0, 0, 0.475) 41.91%,
      rgba(13, 13, 13, 0.15) 77.87%
    ),
    url('./media/BgImg.avif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom-left-radius: 2000px 100px;
  border-bottom-right-radius: 2000px 100px;

  &__title {
    font-size: clamp(1.5625rem, 7.7vw - 1rem, 5rem);
    max-width: min-content;
    text-transform: uppercase;
    overflow-wrap: normal;
    font-weight: 700;
    line-height: 110%;
  }

  &__description {
    font-size: clamp(0.875rem, 3.5vw - 0.25rem, 1.5625rem);
    max-width: calc(470rem / 16);
    margin-block-end: calc(40rem / 16);
  }
}

.about {
  margin-block-start: -40px;
  padding-inline: 90px;
  padding-block: 240px;
  background-image: url('./media/AboutBg.avif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__title {
    margin-block-end: calc(20rem / 16);
  }

  &__description {
    max-width: 45ch;
    font-weight: 300;
    font-size: clamp(0.875rem, 3.5vw - 0.25rem, 1.25rem);
    padding: 10px 17px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
    background-color: hsla(0, 0%, 100%, 1);
  }
}

.gates {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(30rem / 16);
  background-image: url('./media/GatesBg.avif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__title {
    margin-block-start: calc(-55rem / 16);
  }
}

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(35rem / 16);
  background-image: url('./media/NewsBg.avif');
  background-repeat: no-repeat;
  background-size: 450px;
  background-position: right 180px;
  padding-block-end: calc(170rem / 16);

  & > div {
    width: 100%;
  }

  a {
    text-decoration: none;
  }
}

.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(50rem / 16);
}

.advantages {
  display: flex;
  flex-direction: column;
  gap: calc(30rem / 16);
  align-items: center;
  margin-top: -60px;
  padding-block-start: 170px;
  padding-block-end: 120px;
  padding-inline: 70px;
  background-image: url('./media/AdvantagesBg.avif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.services {
  display: flex;
  flex-direction: column;
  gap: calc(30rem / 16);
  margin-block-start: -200px;
  padding-block-start: 340px;
  padding-block-end: 340px;
  align-items: center;
  background-image: url('./media/ServiceBg.avif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  & > ul {
    width: 100%;
    justify-content: center;
  }
}

.reviews {
  margin-block-start: -140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-end: 100px;

  & > div {
    width: 100%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & > div {
    width: 100%;
  }

  &__title {
    font-weight: 700;
    font-size: clamp(1rem, 4.5vw - 0.25rem, 2.5rem);
    line-height: 150%;
    text-transform: uppercase;
    color: #414141;
    margin-bottom: 20px;
  }
}

.title--secondary {
  font-size: clamp(1rem, 4.5vw - 0.25rem, 2.5rem);
  font-weight: 700;
}

.background__bottom {
  margin-block-start: -470px;
  padding-block-start: 480px;
  padding-block-end: 280px;
  background-image: url('./media/BottomBg.avif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  div{
    // background-color: red;
    position: relative;
  }
}

@media (max-width: 56.25rem) {
  .homepage {
    --form-padding-inline: 16px;
  }

  .homepage footer {
    margin: 0;
  }

  .homepage > * {
    margin-block: 0;
  }

  .hero {
    padding-block-start: 118px;
    padding-block-end: 82.5px;
    min-height: revert;
    padding-inline: 16px;
    position: relative;

    &__description {
      margin-block-end: calc(25rem / 16);
    }
  }

  .about {
    padding-inline: 16px;
    padding-block-start: 27px;
    padding-block-end: 10px;

    &__title {
      margin-block-end: calc(14rem / 16);
    }
  }

  .gates {
    gap: calc(15rem / 16);

    &__title {
      margin-block-start: 0;
    }
  }

  .advantages {
    gap: calc(19rem / 16);
    padding-block: 60px;
  }

  .news {
    gap: calc(15rem / 16);
    padding-block-end: calc(60rem / 16);
  }

  .works {
    gap: calc(19rem / 16);
    padding-block-end: calc(60rem / 16);
  }

  .services {
    gap: calc(30rem / 16);
    padding-block-start: 0;
    padding-block-end: 60px;
  }

  .reviews {
    padding-block-end: 60px;
  }

  .background__bottom {
    padding-block-start: 0;
    padding-block-end: 60px;
    background: none;
  }
}

@media (max-width: 750px) {
  .advantages {
    padding-inline: 3px;
  }
}
