.back_modal {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 3;
}

.div_modal {
  width: 654px;
  height: 432px;
  background-color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  border-radius: 20px;
  background-image: url(../../media/modal_bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.galka {
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translate(-50%);
}

.text_success {
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  font-variant: small-caps;
  color: #414141;
  position: absolute;
  top: 235px;
  left: 50%;
  transform: translate(-50%);
}

.vasha_zayavka {
  position: absolute;
  top: 335px;
  left: 50%;
  transform: translate(-50%);
  width: 532px;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  color: #414141;
  text-align: center;
}

@media (max-width: 720px) {
  .div_modal {
    width: 400px;
    height: 350px;
  }
  .text_success {
    font-weight: 700;
    font-size: 20px;
    top: 160px;
  }
  .vasha_zayavka {
    position: absolute;
    top: 235px;
    left: 50%;
    width: 342px;
  }
  .galka {
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translate(-50%);
    width: 100px;
  }
}
