.header {
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  margin-inline: auto;
  z-index: 99999;

  top: 30px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 78px;
  padding-block: 11.5px;
  max-width: calc(1220rem / 16);
  width: 100%;
  border-radius: 10px;
  background-color: hsla(0, 0%, 0%, 0.4);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  &__mobile {
    display: none;
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: calc(25rem / 16);
  }

  .nav__link {
    &:link,
    &:visited {
      color: hsla(0, 60%, 99%, 1);
      text-decoration: none;
    }

    &:hover,
    &:active {
      text-decoration: underline;
    }

    &:global(.active) {
      text-decoration: underline;
    }
  }

  .contacts {
    color: hsla(0, 60%, 99%, 1);

    a {
      color: inherit;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 10px;

      span {
        width: 15px;
        height: 15px;
        overflow: hidden;
      }
    }
  }
}

@media (max-width: 56.25rem) {
  .header__desktop {
    display: none;
  }

  .header__mobile {
    --menu-btn-size: calc(30rem / 16);

    position: absolute;
    top: 28px;

    display: flex;
    padding-block: 0;
    padding-inline: 16px;
    background: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;

    & > button {
      background: none;
      border: none;
      cursor: pointer;
      width: var(--menu-btn-size);
      height: var(--menu-btn-size);

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: calc(20rem / 16);

    padding: 13px;
    position: absolute;
    background-color: hsla(0, 0%, 98%, 1);
    top: calc(var(--menu-btn-size) + 11.5px);
    right: calc(var(--menu-btn-size) + 16px);
    min-width: calc(230rem / 16);

    &__logo {
      width: calc(36rem / 16);
      position: absolute;
      right: 16px;
    }

    ul {
      flex-direction: column;
      gap: calc(15rem / 16);
      font-size: calc(14rem / 16);
      align-items: start;
      text-transform: capitalize;
    }

    &__link {
      &:link,
      &:visited {
        color: hsla(221, 100%, 14%, 1);
        font-weight: 600;
        text-decoration: none;
      }
    }

    &__contacts {
      display: flex;
      flex-direction: column;

      font-size: calc(14rem / 16);
      font-weight: 600;
      color: hsla(221, 100%, 14%, 1);

      a {
        color: inherit;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 10px;

        span {
          width: 15px;
          height: 15px;
          overflow: hidden;
        }
      }
    }
  }
}
