.banner {
  display: grid;
  place-content: center;
  padding-block-start: 180px;
  padding-block-end: 155px;
  background-image: url('./GatesPageBg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom-right-radius: 300px 200px;

  &__title {
    font-weight: bold;
    font-size: var(--font-size-heading-900);
    line-height: 110%;
    text-transform: uppercase;
    max-width: calc(1070rem / 16);
    text-align: center;
    color: var(--color-white);
    color: hsla(219, 100, 97, 1);
  }
}

.description {
  padding-inline: 75px;
  padding-block-start: 50px;
  padding-block-end: 90px;
  font-size: var(--font-size-text);
  line-height: 140%;
  text-align: justify;
  color: var(--color-black);
  color: hsla(0, 0, 25, 1);
}

.types {
  padding-inline: 40px;
  padding-block-end: 130px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__title {
    font-size: var(--font-size-heading-800);
    font-weight: 700;
    line-height: 120%;
    color: hsla(0, 0, 25, 1);
  }

  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    gap: 20px;
  }

  &__item {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    max-height: calc(315rem / 16);

    & > div {
      width: 100%;
      height: 100%;
    }

    & > p {
      position: absolute;
      left: 5px;
      bottom: 10px;

      font-size: var(--font-size-text);
      font-weight: 800;
      color: hsla(0, 0%, 100%, 1);
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.main-advantages {
  display: flex;
  flex-direction: column;
  padding-block-end: 25px;
  padding-inline: 42px;
  gap: 60px;

  &__title {
    font-size: var(--font-size-heading-700);
    font-weight: 700;
    text-transform: uppercase;
  }

  &__list {
    align-self: center;
    justify-content: center;
    list-style-type: none;
    counter-reset: item;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 450px));
    gap: 40px;
  }

  &__item {
    position: relative;
    min-height: calc(227rem / 16);
    display: grid;
    place-content: center;
    gap: 10px;
    text-align: justify;
    font-size: var(--font-size-text);

    & > h3 {
      text-align: center;
      font-size: clamp(1.25rem, 1.041rem + 0.92592vw, 1.875rem);
      text-transform: uppercase;
      line-height: 1.5;
    }

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;

      content: counter(item) ' ';
      counter-increment: item;
      font-family: inherit;
      font-size: clamp(14.375rem, 12.91rem + 6.481vw, 18.75rem);
      line-height: 1em;
      font-weight: 900;
      color: hsla(0, 0%, 92%, 0.5);
    }
  }
}

.visually-hidden {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1;
  width: 1;
  margin: -1;
  padding: 0;
  border: 0;
}

@media (max-width: 64.0625rem) {
  .main-advantages {
    align-items: center;
    gap: 30px;
  }
}

@media (max-width: 56.25rem) {
  .banner {
    border-bottom-right-radius: 100px;
  }

  .description {
    padding-block-start: 85px;
    padding-block-end: 55px;
    padding-inline: 32px 41px;
  }

  .types {
    padding-inline: 32px 41px;
  }

  .main-advantages {
    padding-inline: 16px 25px;
    padding-block-end: 50px;
  }

  .banner {
    border-bottom-right-radius: 100px;
  }

  .description {
    padding-block-start: 85px;
    padding-block-end: 53px;
    padding-inline: 32px 41px;
  }

  .types__item > p {
    margin-inline: 10px;
  }
}

@media (max-width: 37.75rem) {
  .types {
    gap: 10px;
    padding-block-end: 50px;
  }
  .types__item {
    max-height: clamp(10.75rem, -2.29rem + 57.9591vw, 19.625rem);
  }
}
