.footer {
  background-color: hsla(0, 0%, 98%, 1);
  border-radius: 35px;
  padding-inline: 60px;

  padding-block: 30px;

  font-size: clamp(0.75rem, 0.58rem + 0.74vw, 1.25rem);
  font-weight: 500;
  color: hsla(0, 0%, 25%, 1);

  // grid-template-columns: auto auto auto minmax(min-content, 580px);

  &__wrapper {
    display: grid;
    column-gap: 10px;
    grid-template-areas: 'logo nav schedule map' 'socials nav phones map';
    max-width: calc(1320rem / 16);
    justify-content: space-between;
    margin-inline: auto;
  }

  &__logo {
    grid-area: logo;

    width: clamp(2.8rem, 1.6rem + 5.1vw, 6.25rem);
  }

  &__socials {
    grid-area: socials;
    align-self: end;

    ul {
      list-style: none;
      display: flex;
      gap: 10px;
    }

    > p {
      text-transform: uppercase;
      font-size: clamp(0.75rem, 0.625rem + 0.56vw, 1.125rem);
      margin-block-end: 15px;
    }

    button {
      border: none;
      background: none;

      width: clamp(1.75rem, 1.6458rem + 0.46vw, 2.0625rem);
    }
  }

  &__nav {
    width: fit-content;
    grid-area: nav;
    text-transform: capitalize;

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: calc(15rem / 16);

      a{
        color: #414141;
        text-decoration: none;
      }
    }
  }

  &__schedule {
    grid-area: schedule;
    width: fit-content;
    text-align: end;
    display: flex;
    flex-direction: column;
    gap: calc(10rem / 16);
    margin-block-end: calc(30rem / 16);

    p:first-of-type {
      text-transform: uppercase;
    }
  }

  &__phones {
    grid-area: phones;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: calc(10rem / 16);

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: calc(10rem / 16);
    }
    p:first-of-type {
      text-transform: uppercase;
      text-align: center;
    }
  }

  &__map {
    grid-area: map;

    width: clamp(7.5rem, -2.083rem + 42.59vw, 36.25rem);
    max-height: calc(265rem / 16);

    justify-self: end;

    background-color: grey;
    border-radius: 20px;
  }
}

@media (max-width: 75rem) {
  .footer {
    padding-inline: 15px;
  }
}

@media (max-width: 46.25rem) {
  .footer {
    &__wrapper {
      grid-template-areas:
        'logo schedule schedule map'
        'logo phones phones map'
        'socials  socials nav nav';

      gap: 0;
      justify-content: normal;
    }

    &__nav ul {
      display: block;
      columns: 2;
      column-gap: 20px;
    }

    &__schedule,
    &__phones,
    &__phones ul {
      justify-self: center;
      gap: calc(2.5rem / 16);
    }

    &__schedule {
      margin-block-end: calc(7.5rem / 16);
    }

    &__phones,
    &__map {
      margin-block-end: calc(18rem / 16);
    }

    &__socials {
      & > p {
        margin-block-end: 7px;
      }

      & > ul {
        gap: 10px;
      }
    }
  }
}
