.news_block {
  position: relative;
}

.news_title {
  text-align: center;
  height: 60px;
  font-weight: 700;
  font-size: 40px;
  color: #414141;
}

.news_list {
  display: grid;
  grid-template-columns: repeat(3, minmax(230px, 610px));
  gap:10px;
  padding-inline: 10px;
}

@media (max-width:760px) {
  .news_list {
    grid-template-columns: repeat(2, minmax(230px, 610px));
    gap:10px;
  }
}

@media (max-width:760px) {
  .news_list {
    grid-template-columns: repeat(2, minmax(230px, 610px));
    gap:10px;
  }
}

@media (max-width:550px) {
  .news_list {
    /* width: 540px; */
    display: flex;
    flex-direction: column;
    /* grid-template-columns: repeat(1, minmax(230px, 610px)); */
    gap:10px;
    justify-content: center;
    align-items: center;
    background-color: aqua;
  }
}
