.news_block {
  position: relative;
}

.news_title {
  text-align: center;
  height: 60px;
  font-weight: 700;
  font-size: 40px;
  color: #414141;
}

.news_list {
  display: flex;
  justify-content: space-around;
}
